@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kanit:wght@600&family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@0,800;1,400;1,600&family=Oooh+Baby&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #00092C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    width: 100%;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 65px;
}
@media (max-width:1024px) {
    h1 {
        font-size: 45px;
    }
}
@media (max-width:425px) {
    h1 {
        font-size: 40px;
    }
}
@media (max-width:375px) {
    h1 {
        font-size: 30px;
    }
}

.container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container .menu {
    min-width: 5rem;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.main-menu {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 50px;
}

.main-menu::before {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 50px;
    margin-top: -2rem;
}

.main-menu::after {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 50px;
    margin-top: 2rem;
}


@keyframes complete-width {
    to {
        width: 5rem;
    }
}
/*hambergur-menu*/
.container .menu:hover .hambergur-menu{
    animation: complete-width 1s ease-out .5s forwards;
}
.container .menu:hover .hambergur-menu::before{
    animation: complete-width 1s ease-out forwards;
}
.container .menu:hover .hambergur-menu::after{
    animation: complete-width 1s ease-out 1s forwards;
}


/*chocalate-menu*/
.container .choc-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container .chocalate-menu{
    display: block;
}
.container .chocalate-menu::before {
    margin: 0 0 0 -2rem;
    opacity: 0;
}
.container .chocalate-menu::after {
    margin: 0 0 0 2rem;
    opacity: 0;
}

.container .menu:hover .chocalate-menu {
    border-radius: 0;
    transition: all 1s ease-out;
}
.container .menu:hover .chocalate-menu::before,
.container .menu:hover .chocalate-menu::after {
    opacity: 1;
    border-radius: 0;
    transition: all 1s ease-out;
}


/*stairs-menu*/
.container .menu:hover .stairs-menu {
    animation: stairs-middle 1s ease-out .5s forwards;
}
@keyframes stairs-middle {
    to {
        width: 4rem;
    }
}
.container .menu:hover .stairs-menu::before {
    animation: stairs-top 1s ease-out 1s forwards;
}
@keyframes stairs-top {
    to {
        width: 4rem;
        transform: translateX(15px);
    }
}
.container .menu:hover .stairs-menu::after {
    animation: stairs-bottom 1s ease-out forwards;
}
@keyframes stairs-bottom {
    to {
        width: 4rem;
        transform: translateX(-15px);
    }
}


/*meatball-menu*/
.container .menu:hover .meatball-menu {
    animation: rotation 2s ease-out forwards;
}
@keyframes rotation {
    to {
        transform: rotate(270deg);
    }
}


/*hotdog-menu*/
.container .menu:hover .hotdog-menu {
    animation: complete-width 1s ease-out forwards;
}
.container .menu:hover .hotdog-menu::before {
    animation: hotdog-top 1s ease-out forwards;
}
@keyframes hotdog-top {
    to {
        width: 4rem;
        border-radius: 50px 50px 0 0;
    }
}
.container .menu:hover .hotdog-menu::after {
    animation: hotdog-bottom 1s ease-out forwards;
}
@keyframes hotdog-bottom {
    to {
        width: 4rem;
        border-radius: 0 0 50px 50px;
    }
}